 *{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 17px;
}

header {
    background-color: #2d607c;
    height: 230px;
    }

header h1 {
    color: #fff;
    font-family: Arial;
    font-size: 50px;
    padding: 70px;
}

nav {
    position: absolute;
    top: 230px;
    left: 0;
    width: 300px;
    list-style-type: none;
}
nav a{
    display: block;
    color: #333;
    background-color: #fdba1a;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-left: 10px solid #fe5e31;

}
nav li{
    border-left: 10px solid #2d607c;
    border-bottom: 1px solid #2d607c;
}
nav a:hover{
    background-color: #fe5e31;
}

main {
    width: 900px;
    height: 800px;
    padding: 15px;
    margin: 0 auto;
    }

#long {
    height: auto;
    width: 900px;
    padding: 15px;
    margin: 0 auto;
    }

h2{
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    text-indent: 35px;
}

.left {
    float: left;
    clear: both;
}
.right {
    float: right;
    clear: both;
}
table, td,th {
    border: 1px solid #333;
    padding: 10px 15px 10px 15px;
    border-collapse: collapse;
}
table {
    margin: 15px 0 15px 0;
}
span{
    font-weight: bolder;
}
div {
    margin: 15px 0 15px 0;
}
footer{
    background-color: #2d607c;
    height: 100px;
}
